@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;600&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width: 100%;
  background-color: #b0e0e6;
  display: flex;
  justify-content: center;
}

.main2{
  margin: 100px;
  margin-bottom: 10px;
  height: 26rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
}

img{
  width: 15rem;
  padding: 10px;
  border-radius: 3rem;
  margin-left: 13%;
  margin-top: 18px
}

h1{
  font-family: poppins,sans-serif;
  margin-left: 75px;
  font-size: smaller;
  font-weight: bolder;
}

p{
  font-family: poppins,sans-serif;
  margin: 32px;
  margin-top: 10px;
  font-size: 15px;
}
